[package]
name = "encoder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]

[dependencies]
zstd = { git = "https://github.com/scroll-tech/zstd-rs", branch = "hack/fse_header", features = ["experimental"]}
